VITE_APPWRITE_ENDPOINT='your credentials'
VITE_APPWRITE_PROJECT_ID='your credentials'
VITE_APPWRITE_STORAGE_ID='your credentials'
VITE_APPWRITE_DATABASE_ID='your credentials'
VITE_APPWRITE_USERS_COLLECTION_ID='your credentials'
VITE_APPWRITE_POSTS_COLLECTION_ID='your credentials'
VITE_APPWRITE_SAVES_COLLECTION_ID='your credentials'